<div>
	<span class="blue">you</span>@<span class="green">wslu_site</span><span class="red">$</span>
    <span class="green">cat</span> .<%= url_for(path).replace("/index.html", ".md") %> 
	<h1><%= page.title|| __('Untitled') %></h1>

	---<br />
	date: <%= date(page.date,  "MMM DD, YYYY") %><br />
	---
</div>