<% var year=date(new Date(), 'YYYY' ) %>
    <span class="blue">you</span>@<span class="green">wslu_site</span><span class="red">$</span><span
        class="green">cat</span> /data/sites/wslu/footer<br />
    Souce code of this website is available on <a class="white"
        href="https://github.com/wslutilities/blog">GitHub</a>.<br />
    Logo of WSL Utilities is licensed under a <a class="white" href="http://creativecommons.org/licenses/by-nc/4.0/">CC
        BY-NC 4.0 International License</a>.<br />
    Background by <a class="white" href="https://unsplash.com/@callmepk">me</a> on <a class="white"
        href="https://unsplash.com/">Unsplash</a>. <br /><br /><span class="copyleft">&copy;</span> 2017-<%= year %> <a
            class="white" href="https://wslutiliti.es/">WSL Utilites</a><br /><span class="copyleft">&copy;</span> 2013-<%= year %> <a class="white" href="https://wedotstud.io">WE. Studio</a><br />
            2007-<%= year %> <a class="white" href="https://patrickwu.space">Patrick Wu</a><br />